<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="center-title">{{ pokemonDetailData().name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Fähigkeiten</h1>
      </ion-label>
    </ion-list-header>
    @for (ability of pokemonAbilities(); track ability.id) {
      <ion-item>
        <ion-label>
          <h2>{{ ability.name }}</h2>
          <p>{{ ability.effectName }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Attacken</h1>
      </ion-label>
    </ion-list-header>
    @for (move of pokemonMoves(); let i = $index; track i) {
      <ion-item>
        <ion-label>
          <h2>{{ move.name }}</h2>
          <p>{{ move.description }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
